.container{
    text-align: center;
    border: 2px solid black;
    width: 500px;
    height: 400px;
    padding: 50px;
    margin-left: 300px;
}
textarea{
    width: 300px;
    height: 100px;
}

    .wrong{
        background-color: red;
        width: 50;
        height: 50;
    }

    .right{
        background-color: green;
        width: 50;
        height: 50;
    }